<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/posts/create", {multipart: true}) do %>
            <label for="title">title</label>
            <textarea id="title" name="title"><%= @post.title %></textarea>
            <label for="body">body</label>
            <textarea id="body" name="body"><%= @post.body %></textarea>
            <label for="name">name</label>
            <textarea id="name" name="name"><%= @post.name %></textarea>
            <input name="image" type="file">
            <input type="submit" value="投稿">
        <% end %>
      </div>
    </div>
  </div>
</div>